{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'argon/img/apple-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'argon/img/favicon.png' %}">
    <title>
        {% block title %}
            Free Accounting Software - Django Akaunting
        {% endblock title %}
    </title>
    <meta name="description" content="Simple Accounting SAAS for Freelancers">
    <meta name="author" content="Jerin Peter George">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

    {% block css %}
        <!--     Fonts and icons     -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"/>
        <!-- Nucleo Icons -->
        <link href="{% static 'argon/css/nucleo-icons.css' %}" rel="stylesheet"/>
        <link href="{% static 'argon/css/nucleo-svg.css' %}" rel="stylesheet"/>
        <!-- Font Awesome Icons -->
        <script src="https://kit.fontawesome.com/f1ff7aecff.js" crossorigin="anonymous"></script>
        <link href="{% static 'argon/css/nucleo-svg.css' %}" rel="stylesheet"/>
        <!-- CSS Files -->
        <link id="pagestyle" href="{% static 'argon/css/argon-dashboard.css' %}" rel="stylesheet"/>
    {% endblock %}
</head>

<body class="g-sidenav-show bg-gray-100">
{% block content %}
{% endblock content %}

<footer class="footer">
    <div class="container">
        <span class="text-muted">lorem ipsum</span>
    </div>
</footer>

{% block javascript %}
    <!--   Core JS Files   -->
    <script src="{% static 'argon/js/core/popper.min.js' %}"></script>
    <script src="{% static 'argon/js/core/bootstrap.min.js' %}"></script>

    <!-- Plugin for the charts, full documentation here: https://www.chartjs.org/ -->
    <script src="{% static 'argon/js/plugins/chartjs.min.js' %}"></script>
    <script src="{% static 'argon/js/plugins/Chart.extension.js' %}"></script>

    <!-- Control Center for Argon Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="{% static 'argon/js/argon-dashboard.min.js' %}"></script>
{% endblock javascript %}
</body>
</html>